<div class="navigation_menu">
    <ul class="menu">
        <li class="menu-item-first">меню</li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'auth:edit' %}">
                    {{ user.first_name|default:'Пользователь' }}
                </a>
            </li>
        {% endif %}
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}">выйти</a>
                {% else %}
                    <a href="{% url 'auth:login' %}">войти</a>
                {% endif %}
            </li>
        {% for item in menu %}
        <li><a href="{{item.href}}">{{item.name}}</a></li>
        {% endfor %}
    </ul>
</div>